header {
    background-color: aqua;
    border-color: aquamarine;
    border-width: 5px;
    border-style: dashed;
}
body {
    background-color: aliceblue;
}
P {
    border-color: aquamarine;
    border-width: 5px;
    border-style: dashed;
    border-width: auto;
}
section {
    background-color: cyan;
}
footer {
    background-color: darkcyan;
}
h1 {
    background-color: grey;
    color: darkslategray;
}
.center {

    display: block;

    margin-left: auto;

    margin-right: auto;
}